{% extends "base.html" %}
{% load static %}

{%block title%} NewRoute {%endblock%}

{% block content %}



<div class="container">
    {% for route in files %}
    <a href = "/media/uploads/{{route.file.url}}" download> Download New Route </a>
    {% endfor %}
</div>



<style>
     .container{
        border:5px solid blue;
        height:100%;
        display:flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        gap:1em;
        height: min-content;
        padding:50px;
    }
</style>
{% endblock %}