{% extends "base.html" %}

{% block title %} Product {% endblock %}

{% block content %}

<div class="Stepscontainer">
    <form method="POST" action="" enctype="multipart/form-data" x-data = "{open:false, message:false, open2:false, open3:false, filename: '', filename2: ''}">
        {% csrf_token %} 
        <div class="step"> 
            <h1>1. Upload Current Route</h1>
            <h2>Format: csv </h2>
            <div x-show="open">
                <span class="fileStyle" x-text="filename"></span>
            </div>
            <input type="file" name="file" x-on:change="
            open = !open;
            filename = $event.target.files[0].name;
            ">
         </div>
        <div class="step">
            <h1>2. Upload New Stops</h1>
            <h2>Format: csv</h2>
            <div x-show="open2">
                <span class="fileStyle" x-text="filename2"></span>
            </div>
            <input type="file" name="file2" x-on:change="
            open2 = !open2;
            filename2 = $event.target.files[0].name;
            ">
        </div>
        <div class="step">

                <h1>3. Submit!</h1>
                <h2>Add your new stops to your current route.</h2>
                <a x-show = "open3" id = "newRouteLink" href = "/media/uploads/newRoute.csv" download>
                {% if message %}
                   Download New Route
                {% else %}
                    
                {% endif %}
                 
                
                </a>
                <button type="submit" x-on:click = "open3 =! open3, message =!message">Submit</button>
        </div>
        
        </form>

    
</div>

<style>
    /*
   .Stepscontainer{
    border:5px solid orange;
   }
   */
   
    .step{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width:346px;
        min-height:277px;
        height:min-content;
        padding:20px 50px 20px 50px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        gap:1em;
    }
    #newRouteLink{
        color:black;
        font-family: 'Inter', sans-serif;
    
    }
    button, input{
        margin-top:10px;
    }
    form{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:1em;

    }
    h1{
        font-size:32px;
        font-family: 'Inter', sans-serif;
        width:255px;
    }
    h2{
        font-size:16px;
        font-family: 'Inter', sans-serif;
      
    }

    input::file-selector-button, button{
        font-family: 'Inter', sans-serif;
        background-color: black;
        padding:1em 2em;
        color:white;
        width:146px;
        height:auto;
    }
    input[type = "file"]{
        color: rgba(0, 0, 0, 0);
    }

    .fileStyle{
        font-family: 'Inter', sans-serif;
    }

   

    @media only screen and (min-width : 1200px) {
        form{
            justify-content: start;
            align-items:center;
            flex-direction: row;
            flex-wrap:wrap;
            gap:1em;
            height: min-content;
        }
        .step{
            width:32%;
            min-width: min-content;
    }
    }

</style>
{% endblock %}

<!--
    
<div class = "container">
    <div class = "step">
        <form method = "POST" x-data = "{open:false, filename: ''}" enctype = "multipart/form-data" action = "/upload">
        
            <h1> 1. Upload Current Route</h1>
            <h2> Format: Excel </h2>
            <div x-show = "open"> 
               <span class = "fileStyle" x-text = "filename"></span>
            </div>
            <input type = "file" name = "file" x-on:change = "
            open =! open;
            filename = $event.target.files[0].name;
            ">
        </form>
    </div>
    <div class = "step">
        <form method = "POST" x-data = "{open:false, filename: ''}">
            <h1> 2. Upload New Stops </h1>
            <h2> Format: Excel </h2>
            <div x-show = "open"> 
               <span class = "fileStyle" x-text = "filename"></span>
            </div>
            <input type = "file" name = "file2" x-on:change = "
            open =! open;
            filename = $event.target.files[0].name;
            ">
        </form>
    </div>
    <div class = "step">
        <form method = "POST">
            <h1> 3. Submit! </h1>
            <h2> Add new stops to the current route. </h2>
            <button type = "submit"> Submit </button>
        </form>
    </div>
</div>
-->