{% extends "base.html" %}

{% block title %} Product {% endblock %}

{% block content %}

<div class="container">
    <form method="POST" action="" enctype="multipart/form-data" x-data = "{open:false, open2:false, filename: '', filename2: ''}">
        {% csrf_token %} 
        <div class="step"> 
            <h1>1. Upload Current Route</h1>
            <h2>Format: Excel</h2>
            <div x-show="open">
                <span class="fileStyle" x-text="filename"></span>
            </div>
            <input type="file" name="file" x-on:change="
            open = !open;
            filename = $event.target.files[0].name;
            ">
         </div>
        <div class="step">
            <h1>2. Upload New Stops</h1>
            <h2>Format: Excel</h2>
            <div x-show="open2">
                <span class="fileStyle" x-text="filename2"></span>
            </div>
            <input type="file" name="file2" x-on:change="
            open2 = !open2;
            filename2 = $event.target.files[0].name;
            ">
        </div>
        <div class="step">
                <h1>3. Submit!</h1>
                <h2>Add new stops to the current route.</h2>
                <button type="submit">Submit</button>
        </div>
        <div class="container">
            {% for route in files %}
            <a href = "/media/uploads/newRoute.csv" download> Download New Route </a>
            {% endfor %}
        </div>
        
</form>project\media\uploads\newRoute.csv


    
</div>

<style>
    .container{
        border:5px solid blue;
        height:100%;
        display:flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        gap:1em;
        height: min-content;
        padding:50px;
    }
    .step{
        border:5px solid black;
        width:346px;
        min-height:277px;
        height:min-content;
        padding:50px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        gap:1em;
    }
    form{
        display:flex;
        justify-content: center;
        flex-direction: column;
        gap:1em;
    }
    h1{
        font-size:32px;
        font-family: 'Inter', sans-serif;
        width:255px;
    }
    h2{
        font-size:16px;
        font-family: 'Inter', sans-serif;
      
    }

    input::file-selector-button, button{
        font-family: 'Inter', sans-serif;
        background-color: black;
        padding:1em 2em;
        color:white;
        width:146px;
        height:auto;
    }
    input[type = "file"]{
        color: rgba(0, 0, 0, 0);
    }

    .fileStyle{
        font-family: 'Inter', sans-serif;
    }
</style>
{% endblock %}

<!--
    
<div class = "container">
    <div class = "step">
        <form method = "POST" x-data = "{open:false, filename: ''}" enctype = "multipart/form-data" action = "/upload">
        
            <h1> 1. Upload Current Route</h1>
            <h2> Format: Excel </h2>
            <div x-show = "open"> 
               <span class = "fileStyle" x-text = "filename"></span>
            </div>
            <input type = "file" name = "file" x-on:change = "
            open =! open;
            filename = $event.target.files[0].name;
            ">
        </form>
    </div>
    <div class = "step">
        <form method = "POST" x-data = "{open:false, filename: ''}">
            <h1> 2. Upload New Stops </h1>
            <h2> Format: Excel </h2>
            <div x-show = "open"> 
               <span class = "fileStyle" x-text = "filename"></span>
            </div>
            <input type = "file" name = "file2" x-on:change = "
            open =! open;
            filename = $event.target.files[0].name;
            ">
        </form>
    </div>
    <div class = "step">
        <form method = "POST">
            <h1> 3. Submit! </h1>
            <h2> Add new stops to the current route. </h2>
            <button type = "submit"> Submit </button>
        </form>
    </div>
</div>
-->